[Desktop Entry]
Encoding=UTF-8
Name=KoolCapture
Comment=Application to share desktop to others
Exec=/usr/bin/KoolCapture
Icon=/usr/share/KoolCapture/KoolCapture.png
Terminal=false
Type=Application
StartupNotify=true

